<h1>
  Bar
  <button class="reload">Reload Model</button>
  <button class="save">Save Model</button>
</h1>

<b>ID: {{id}}</b>

<ul>
  <li>
    <label>b1</label>
    <input type="text" data-id="b1" value="{{b1}}">
  </li>
  <li>
    <label>b2</label>
    <input type="text" data-id="b2" value="{{b2}}">
  </li>
  <li>
    <label>c1</label>
    <input type="text" data-id="c1" value="{{c1}}">
  </li>
  <li>
    <label>c2</label>
    <input type="text" data-id="c2" value="{{c2}}">
  </li>
  <li>
    <label>total</label>
    <input type="text" data-id="total" value="{{total}}">
  </li>
</ul>