<h1>
  Foo
  <button class="reload">Reload Model</button>
  <button class="save">Save Model</button>
</h1>

<b>ID: {{id}}</b>

<ul>
  <li>
    <label>a1</label>
    <input type="text" data-id="a1" value="{{a1}}">
  </li>
  <li>
    <label>a2</label>
    <input type="text" data-id="a2" value="{{a2}}">
  </li>
  <li>
    <label>b1</label>
    <input type="text" data-id="b1" value="{{b1}}">
  </li>
  <li>
    <label>b2</label>
    <input type="text" data-id="b2" value="{{b2}}">
  </li>
  <li>
    <label>total</label>
    <input type="text" data-id="total" value="{{total}}">
  </li>
</ul>